@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --text: #ffe4c4;
  --accent: #d0b18b;
  --disabled: #61230c;
  /* --background: white; */
  --background: #4b1704;
}

body {
  margin: 1rem 3rem;
  background-color: var(--background);
  font-family: "Source Sans Pro", sans-serif;
}

#form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mini-instruction {
  color: var(--accent);
  margin-bottom: 0.5rem;
}

.get-random {
  position: relative;
  top: 0;
  transition: all ease 0.2s;
  background-color: var(--text);
  color: var(--background);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  top: 0;
  width: 10rem;
  margin: auto;
}

.get-random:hover {
  top: -3px;
}

.instructions {
  color: var(--accent) !important;
  margin: auto;
  max-width: 30rem;
  font-size: 0.8rem;
  padding-top: 1rem;

  text-align: center;
}

.instructions a {
  color: inherit;
}

.sutta {
  max-width: 40rem;
  margin: auto;
  line-height: 1.5;
  /* letter-spacing: 0.5px; */
}

p {
  margin-bottom: 1.5rem;
  color: var(--text);
}

h1 {
  color: var(--text);
  padding-top: 2rem;
}

p.sc-link {
  text-align: center;
  margin-bottom: 0rem !important;
  margin-top: 1rem !important;
}
p.sc-link a img {
  filter: opacity(50%);
  position: relative;
  top: 0;
  transition: all ease 0.5s;
}

p.sc-link a img:hover {
  top: -3px;
  filter: opacity(100%);
}

/* span.eng-lang {
  display: block;
} */

.button-area {
  position: fixed;
  right: 10px;
  top: 10px;
  /* text-align: center; */
}

header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

header ul li {
  text-align: center;
  color: var(--accent);
  display: none;
}

li:first-child {
  display: inherit;
}

@media only screen and (max-width: 975px) {
  body {
    margin: 1rem 0.5rem;
  }
  .button-area {
    right: 1px;
    top: 1px;
  }
}

br {
  line-height: 0px;
}

.links-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.links-area a {
  position: relative;
  top: 0;
  transition: all ease 0.5s;
  filter: brightness(100%);
}
.links-area a:hover {
  top: -3px;
  filter: brightness(130%);
}

hr {
  border: 0.5px solid rgba(208, 177, 139, 0.43);
  width: 70%;
}
